{% extends "layouts/system_base.html" %}
{% load static %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>User Registration</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
                <li class="breadcrumb-item">User Manage</li>
                <li class="breadcrumb-item active">User Registration</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">User Registration</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:user_manage' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mb-3">
                      <div class="col-md-12">
                        <label for="username">아이디</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="아이디">
                      </div>
                      <div class="col-md-12">
                        <label for="password">비밀번호</label>
                        <input type="text" name="password" class="form-control" id="password" placeholder="비밀번호">
                      </div>
                      <div class="col-md-12">
                        <label for="membername">회원명</label>
                        <input type="text" name="membername" class="form-control" id="membername" placeholder="회원명" value="홍길동">
                      </div>
                      <div class="col-md-12">
                        <label for="phone">연락처</label>
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="010xxxxxxxx">
                        <small class="form-text text-muted">예시) 01012341234</small>
                      </div>
                      <div class="col-md-12">
                        <label for="birth">생년월일</label>
                        <input type="text" class="form-control" name="birth" id="birth" placeholder="yyyy-mm-dd" value="1990-01-01">
                        <small class="form-text text-muted">예시) 1990-01-01</small>
                      </div>
                      <div class="col-md-10">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" name="address" id="address" readonly placeholder="주소">
                        <input type="hidden" class="form-control" name="zipcode" id="zipcode">
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary mt-4" id="btn-address">우편번호</button>
                      </div>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="address_detail" id="address_detail" placeholder="상세주소">
                      </div>
                      <div class="col-md-12">
                        <label for="gender">성별</label>
                        <select class="form-select" id="gender" name="gender">
                            <option value="M">남자</option>
                            <option value="F">여자</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="button" id="btn-submit" class="btn btn-success">가입</button>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'system/js/user_manage/script_user_create.js' %}?v=2025"></script>
{% endblock javascripts %}
