{% extends "layouts/system_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>사람 타입 상세</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Person Type Detail</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">사람 타입 상세</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:person_type_manage' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a id="btn-delete" href="#"><i class="bi bi-trash-fill"></i> 삭제</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mt-3 mb-3">
                    <label for="person_type_name" class="col-sm-2 col-form-label">이름 *</label>
                    <div class="col-sm-10">
                        <input type="text" id="person_type_name" name="person_type_name" class="form-control" placeholder="이름" value="{{person_type.name}}" readonly>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <label for="image" class="col-sm-2 col-form-label">이미지</label>
                    <div class="col-sm-10">
                        {% if person_type.image %}
                            <img src="{{person_type.image.url}}"  style="width:200px;">
                        {% else %}
                            없음
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-warning" href="{% url 'system_manage:person_type_edit' person_type.id %}">Edit</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'system/js/person_type_manage/script_person_type_detail.js' %}"></script>
{% endblock javascripts %}

