{% extends "layouts/system_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>사람 타입 수정</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Person Type Edit</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">사람 타입 수정</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:person_type_manage' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mt-3 mb-3">
                    <label for="person_type_name" class="col-sm-2 col-form-label">이름 *</label>
                    <div class="col-sm-10">
                        <input type="text" id="person_type_name" name="person_type_name" class="form-control" placeholder="이름" value="{{person_type.name}}">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <label for="image" class="col-sm-2 col-form-label">이미지</label>
                    <div class="col-sm-10">
                        <input type="file" id="image" name="image" class="form-control" accept="image/png, image/jpg, image/jpeg">
                        <small class="form-text text-muted">( 이미지 변경 시 에만 첨부 )</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-12 text-center">
                        <a href="{% url 'system_manage:person_type_detail' person_type.id %}" class="btn btn-danger">취소</a>
                        <button type="button" id="btn-submit" class="btn btn-success">저장</button>         
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'system/js/person_type_manage/script_person_type_edit.js' %}?v=1"></script>
{% endblock javascripts %}

