{% extends "layouts/shop_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Order Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">Order Manage</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order Manage</h5>
            <form id="search-form" class="p-2" method="get" action="">
                <div class="row mb-2">
                    <input type="hidden" class="btn-check" name="order_date_no" id="order_date_no" value="1">
                    <label for="order_date" class="col-sm-2 col-form-label">기준 날짜</label>
                    <div class="col-sm-4">
                    <div class="btn-group mt-2" role="group">
                        <input type="radio" class="btn-check" name="order_date" id="order_date1" {% if order_date_no == '1' %}checked{% endif %}>
                        <label class="btn btn-sm btn-outline-primary" for="order_date1">오늘</label>
                    
                        <input type="radio" class="btn-check" name="order_date" id="order_date2" {% if order_date_no == '2' %}checked{% endif %}>
                        <label class="btn btn-sm btn-outline-primary" for="order_date2">일주일</label>

                        <input type="radio" class="btn-check" name="order_date" id="order_date3" {% if order_date_no == '3' %}checked{% endif %}>
                        <label class="btn btn-sm  btn-outline-primary" for="order_date3">1개월</label>

                        <input type="radio" class="btn-check" name="order_date" id="order_date4" {% if order_date_no == '4' %}checked{% endif %}>
                        <label class="btn btn-sm  btn-outline-primary" for="order_date4">3개월</label>

                        <input type="radio" class="btn-check" name="order_date" id="order_date5" {% if order_date_no == '5' %}checked{% endif %}>
                        <label class="btn btn-sm  btn-outline-primary" for="order_date5">1년</label>

                        <input type="radio" class="btn-check" name="order_date" id="order_date6" {% if order_date_no == '6' %}checked{% endif %}>
                        <label class="btn btn-sm  btn-outline-primary" for="order_date6">전체</label>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="input-group mt-2">
                        <span class="input-group-text">
                        <i class="bi bi-calendar"></i>
                        </span>
                        <input type="text" name="dates" class="form-control" placeholder="기간을 선택해주세요." readonly value="{{dates}}">
                    </div>
                    </div>
                </div>   

              <div class="row mb-2">
                <label for="item" class="col-sm-2 col-form-label">검색 분류</label>
                <div class="col-sm-8">
                    <div class="input-group">                   
                      <select class="form-select" id="search_type" name="search_type">
                        <option value="order_membername" {% if search_type == 'order_membername' %}selected{% endif %}>주문자</option>
                        <option value="order_phone" {% if search_type == 'order_phone' %}selected{% endif %}>연락처</option>
                      </select>
                    <input class="form-control" type="text" id="search_keyword" name="search_keyword" placeholder="Search Keword" value="{{search_keyword}}" style="width:50%">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="text-center">
                    <button type="submit" id="btn-search" class="btn btn-primary">검색</button>
                    <a id="btn-initial" class="btn btn-outline-primary" href="{% url 'shop_manage:order_manage' shop.id %}">초기화</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">매출 : {{total_price|intcomma}}₩</h5>
              </div>
              <div class="col-auto">
                <div class="icon mt-3 me-3">
                  {% if page_obj %}
                    <a id="btn-excel" href="javascript:;" onclick="xlsxDownload();"><i class="bi bi-file-earmark-spreadsheet-fill"></i> Excel 저장</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>주문번호</th>
                  <th>주문명</th>
                  <th>결제금액</th>
                  <th>주문자</th>
                  <th>연락처</th>
                  <th>날짜</th>
                  <th>처리여부</th>
                </tr>
              </thead>
              <tbody>
              {% if page_obj %}
                {% for i in page_obj %}
                <tr>
                  <td>{{i.order_no}}</td>
                  <td><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#orderGoodsModal" data-order-id="{{i.id}}">{{i.order_name|truncatechars:16}}</a></td>
                  <td>{{i.final_price|intcomma}}</td>
                  <td>{{i.order_membername}}</td>
                  <td>{{i.order_phone}}</td>
                  <td>{{i.created_at|date:"Y.m.d H:i "}}</td>
                  <td>
                    {% if i.status != '2' %}
                    <select class="form-select" onchange="changeStatus({{i.id}}, this)">
                      <option value="1" {% if i.status == '1' %}selected{% endif %}>결제완료</option>
                      <option value="3" {% if i.status == '3' %}selected{% endif %}>준비중</option>
                      <option value="4" {% if i.status == '4' %}selected{% endif %}>주문완료</option>
                      <option value="5" {% if i.status == '5' %}selected{% endif %}>수령완료</option>
                    </select>
                    {% else %}
                      주문취소
                    {% endif %}
                    {% if i.status == '4' %}
                      {% if not i.order_complete_sms %}
                        <button class="btn btn-outline-primary w-100" onclick="sendOrderComplete('{{i.id}}', this);">수령문자요청</button>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan='7'>주문내역이 없습니다.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>

      <!-- Modal -->
      <div class="modal fade" id="orderGoodsModal" tabindex="-1" aria-labelledby="orderGoodsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="orderGoodsModalLabel">주문 상품</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="orderGoodsModalBody">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const shop_id = {{shop.pk}};
</script>
<script src="{% static 'js/script_pagination.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'shop/js/order_manage/script_order_manage.js' %}?v=20240624"></script>
{% endblock javascripts %}