 {% load i18n %}
 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'shop_manage:home' shop.id %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">Master Data</li>
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:category_manage' shop.id %}"> <i class="bi bi-tags"></i> <span>{% trans "상품 카테고리 관리" %}</span> </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:goods_manage' shop.id %}"> <i class="bi bi-upc-scan"></i> <span>{% trans "상품 관리" %}</span> </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:order_manage' shop.id %}"> <i class="bi bi-credit-card"></i> <span>{% trans "주문내역 관리" %}</span> </a>
      </li>
      {% if LANGUAGE_CODE == 'ko' %}
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:person_type_manage' shop.id %}"> <i class="bi bi-person"></i> <span>입장 관리</span> </a> 
      </li>
      {% endif %}
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:pos_manage' shop.id %}"> <i class="bi bi-calculator"></i> <span>{% trans "POS 관리" %}</span> </a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:table_manage' shop.id %}"> <i class="bi bi-window-stack"></i> <span>{% trans "테이블 관리" %}</span> </a>
      </li>
      {% if shop.coupon_flag %}
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:coupon_manage' shop.id %}"> <i class="bi bi-ticket-detailed"></i> <span>{% trans "이용권 관리" %}</span> </a>
      </li>
      {% endif %}
      {% if LANGUAGE_CODE == 'ko' %}
      <li class="nav-heading">Log Data</li>
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url 'shop_manage:sms_manage' shop.id %}"> <i class="bi bi-mailbox"></i> <span>문자 & 알림톡 내역</span> </a>
      </li>
      {% endif %}
    </ul>
</aside><!-- End Sidebar-->
