{% extends "layouts/shop_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>입장 옵션 관리</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item">Entry Manage</li>
            <li class="breadcrumb-item active">Option</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">입장 옵션 관리</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'shop_manage:person_type_manage' shop.id %}"><i class="bi bi-list"></i> 돌아가기</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <span>옵션 내용을 , 로 구분지어 등록해주세요. 옵션은 최대 5개 까지 등록 가능합니다. 옵션 내용 최대 5개</span><br>
                <div class="row mt-3 mb-3">
                  <label for="option_detail" class="col-sm-2 col-form-label">옵션 명</label>
                  <div class="col-sm-10">
                      <input type="text" id="option_name" name="option_name" class="form-control" placeholder="옵션 명">
                  </div>
                </div>
                  <div class="row mt-3 mb-3">
                      <label for="option_detail" class="col-sm-2 col-form-label">옵션 내용</label>
                      <div class="col-sm-10">
                          <input type="text" id="option_detail" name="option_detail" class="form-control" placeholder="옵션 내용">
                      </div>
                  </div>
                  <div class="col-sm-12 text-center">
                      <button type="button" id="btn-submit" class="btn btn-primary">등록</button>
                  </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col">
                  <h5 class="card-title">옵션</h5>
              </div>
            </div>
            {% if shop.entry_option %}
                {% for i in shop.entry_option.all %}
                <div class="border border-3 p-3">
                    <h6>
                      {{i.name}} 
                      {% if i.required %}
                      <input class="form-check-input" type="checkbox" value="1"  id="option_detail_{{i.id}}" checked onchange="setRequired('{{i.id}}')">
                      {% else %}
                      <input class="form-check-input" type="checkbox" value="0" id="option_detail_{{i.id}}" onchange="setRequired('{{i.id}}')">
                      {% endif %}
                      <label class="form-check-label" for="option_detail_{{i.id}}">옵션선택 필수</label>
                    </h6>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>내용</th>
                            <th>이미지</th>
                            <th class="text-end"><button type="button" class="btn btn-primary" onclick="createOptionDetail('{{i.id}}')">추가</button></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if i.entry_option_detail %}
                                {% for j in i.entry_option_detail.all %}
                                <tr>
                                    <td>
                                        <input type="text" id="option_name_{{j.id}}" class="form-control" placeholder="옵션 내용" value="{{j.name}}">
                                    </td>
                                    <td>
                                        {% if j.image %}
                                        <img src="{{j.image.url}}"  style="width:50px;">
                                        {% endif %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{j.id}}">
                                            이미지 수정
                                        </button>
                                    </td>
                                    <td class="text-end">
                                        <button type="button" class="btn btn-danger" onclick="deleteOptionDetail('{{j.id}}')">삭제</button>
                                        <button type="button" class="btn btn-success" onclick="saveOptionDetail('{{j.id}}')">저장</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="2">데이터가 없습니다</td>
                            </tr>
                            {% endif %}
                          </tbody>
                      </table>
                      <div class="text-center">
                        <a id="btn-delete" href="javascript:;" onclick="deleteOption('{{i.id}}')"><i class="bi bi-trash-fill"></i> 삭제</a>
                      </div>
                </div>
                {% endfor %}                
            {% else %}
                <span>옵션을 등록해주세요.</span>
            {% endif %}
          </div>
        </div>
      </section>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">이미지 수정</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="image-form" method="post" onsubmit="return false">
                <input type="hidden" id="option_detail_id" name="option_detail_id" value="">
                <div class="row mt-3 mb-3">
                    <div class="col-sm-12">
                        <input type="file" id="image" name="image" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="submitImage(this)">저장</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const shop_id = {{shop.id}};
</script>
<script src="{% static 'shop/js/entry_manage/script_entry_option_manage.js' %}?v=20240620"></script>
{% endblock javascripts %}

