:root {
    --primary: #54bf59;

    --black202328: #202328;
    --black2A2C33: #2a2c33;
    --black272931: #272931;
    --black3F4147: #3f4147;
    --black62667C: #62667c;
    --black9798A7: #9798a7;
    --black4E4E56: #4e4e56;
    --black6D6E71: #6d6e71;
    --black919299: #919299;
    --black8F9296: #8f9296;
    --blackA2A3A7: #a2a3a7;
    --blackA4A5A7: #a4a5a7;
    --blackA7A8A9: #a7a8a9;
    --blackAEAEAE: #aeaeae;
    --blackB4B5BA: #b4b5ba;

    --wthieFAFAFA: #fafafa;

    --blue43A5FF: #43a5ff;

    --system-white: #ffffff;
}

/* header  */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header.line {
    border-bottom: 0.1rem solid #eee;
}
.header .header_inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.2rem;
    background: var(--system-white);
}
.header .header_inner .btn_back,
.header .header_inner .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.8rem;
}
.header .header_inner .btn_back img {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
}
.header .header_inner .logo img {
    display: block;
    width: 9rem;
    height: 2.5rem;
}
.header .header_inner h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black4E4E56);
}
.header .header_inner .btn_basket,
.header .header_inner .btn_home {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.8rem;
}
.header .header_inner .btn_basket .count {
    display: none;
    position: absolute;
    right: 1.1rem;
    top: 0.2rem;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    background: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--system-white);
}
.header .header_inner .btn_basket.counts .count {
    display: block;
}
.header .header_inner .btn_basket img,
.header .header_inner .btn_home img {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
}
