.__app {
    padding-top: 4.2rem;
}

.franchisee_ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
    padding: 2rem 1.8rem;
}
.franchisee .franchisee_ li {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    cursor: pointer;
}
.franchisee .franchisee_ .thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: calc(96 / 156 * 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;
    overflow: hidden;
}
.franchisee .franchisee_ .franchisee_info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.franchisee .franchisee_ .franchisee_info h6 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--black6D6E71);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.franchisee .franchisee_ .franchisee_info span {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    color: var(--blackB4B5BA);
}

@media screen and (min-width: 500px) {
    html {
        font-size: 12px;
    }
    .franchisee_ {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
