.__app {
    padding-top: 4.2rem;
}

.tabs_ {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.tabs {
    padding-left: 1.8rem;
    border-bottom: 0.1rem solid #eee;
}
.tabs .tabSwiper {
    height: 4.6rem;
    padding-right: 1.8rem;
}
.tabs .swiper-slide {
    font-size: 1.5rem;
    width: auto;
}
.tabs .tab_button {
    position: relative;
    width: fit-content;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 1.4rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black8F9296);
    cursor: pointer;
}
.tabs .tab_button.on {
    color: var(--black4E4E56);
}
.tabs .tab_button.on::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    background-color: var(--primary);
}
.sub_tabs {
    padding: 0 0 0 1.8rem;
}
.sub_tabs .subTabSwiper {
    padding-right: 1.8rem;
}
.sub_tabs .swiper-slide {
    width: auto;
}
.sub_tabs .swiper-slide .subtab_button {
    padding: 0.7rem 1.4rem 0.8rem;
    border-radius: 3rem;
    border: 0.1rem solid #f3f3f3;
    background: var(--wthieFAFAFA);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--blackA2A3A7);
    cursor: pointer;
}
.sub_tabs .swiper-slide .subtab_button.on {
    background: var(--black202328);
    border: 0.1rem solid var(--black202328);
    color: var(--system-white);
}
.menus {
    padding: 1.8rem;
}
.menus .menu_ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1.1rem;
}
.menus .menu_ .menu {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.menus .menu_ .menu .thumbnail {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(197 / 156 * 100%);
    background-color: #eee;
    border-radius: 0.6rem;
    overflow: hidden;
}
.menus .menu_ .menu .thumbnail .menu_thumbnail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 0;
    padding-bottom: calc(115 / 87 * 65%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.menus .menu_ .menu .thumbnail .btn_add {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
}
.menus .menu_ .menu .thumbnail .btn_add img {
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    filter: drop-shadow(0 0.009rem 0.3rem rgba(0, 0, 0, 0.13));
}
.menus .menu_ .menu .menu_info {
    display: flex;
    flex-direction: column;
}
.menus .menu_ .menu .menu_info h6 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    color: var(--black6D6E71);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.menus .menu_ .menu .menu_info p {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    line-height: 1.4;
    color: var(--blackB4B5BA);
    margin: 0.3rem 0 0.6rem;
}
.menus .menu_ .menu .menu_info b {
    font-size: 1.1rem;
    font-weight: 600;
    color: #e98989;
    text-decoration: line-through;
    margin-bottom: 0.15rem;
}
.menus .menu_ .menu .menu_info span {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    color: var(--black2A2C33);
}

.add_popup {
    visibility: hidden;
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 2.4rem 2rem 2rem;
    background: var(--system-white);
    border-radius: 2.4rem 2.4rem 0 0;
    box-shadow: 0 -0.3rem 5rem rgba(0, 0, 0, 0.15);
    z-index: 500;
    transition: bottom 0.3s, visibility 0.3s;
    transition-duration: 0.5s;
}
.add_popup.on {
    bottom: 0;
    visibility: visible;
}
.add_popup .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_popup .content button img {
    display: block;
    width: 7.4rem;
    height: 7.4rem;
}
.add_popup .content input {
    width: 100%;
    max-width: 8rem;
    text-align: center;
    border: none;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    color: var(--black272931);
    outline: none;
}
.add_popup .content input::-webkit-outer-spin-button,
.add_popup .content input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.add_popup > button {
    width: 100%;
    height: 5.4rem;
    border-radius: 1rem;
    background: var(--primary);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--system-white);
}

.toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
}
.toast.on {
    animation: fadeInOut 2s;
}
.toast span {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--system-white);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        visibility: visible;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (min-width: 500px) {
    html {
        font-size: 12px;
    }
    .menus .menu_ {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
