{% extends "layouts/agency_base.html" %}
{% load static %}


{% block body %}
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">{{global_site_name}} Agency Admin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Password Edit</h5>
                    <p class="text-center small">Enter your current Password & New password</p>
                  </div>

                  <form class="row g-3 needs-validation" id="loginForm">

                    <div class="col-12">
                      <label for="password" class="form-label">현재 비밀번호</label>
                      <div class="input-group has-validation">
                        <input type="password" name="password" class="form-control" id="password" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="new_password1" class="form-label">새로운 비밀번호</label>
                      <input type="password" name="new_password1" class="form-control" id="new_password1" required>
                      <label for="new_password2" class="form-label">비밀번호 확인</label>
                      <input type="password" name="new_password2" class="form-control" id="new_password2" required>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="button" id="btn-submit">Change</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Later? <a class="ms-1" href="{% url 'agency_manage:login' %}">Select Agency</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </main><!-- End #main -->
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'agency/js/agency_manage/script_user_password_edit.js' %}"></script>
{% endblock javascripts %}