{% extends "layouts/shop_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>이용권 상세</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">Coupon Detail</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">이용권 상세</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'shop_manage:coupon_manage' shop.id %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a id="btn-delete" href="#"><i class="bi bi-trash-fill"></i> 삭제</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mt-3 mb-3">
                    <label for="coupon_name" class="col-sm-2 col-form-label">이용권 이름 *</label>
                    <div class="col-sm-10">
                        <input type="text" id="coupon_name" name="coupon_name" class="form-control" placeholder="이름" value="{{shop_coupon.name}}" readonly>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <label for="expiration_period" class="col-sm-2 col-form-label">만료기간 (일) *</label>
                    <div class="col-sm-10">
                        <input type="number" id="expiration_period" name="expiration_period" class="form-control" value="{{shop_coupon.expiration_period}}" readonly>
                        <small class="form-text text-muted">0 -> 무기한</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-warning" href="{% url 'shop_manage:coupon_edit' shop.id shop_coupon.id %}">Edit</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'shop/js/coupon_manage/script_coupon_detail.js' %}?v=1"></script>
{% endblock javascripts %}

