{% extends "layouts/system_base.html" %}
{% load static %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block main %}
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-body" bis_skin_checked="1">
            <h5 class="card-title">일 매출</h5>
            <div class="row mt-3">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      카드결제
                      <h4><span id="card_sales"></span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                    <p class="card-text">총 <span id="card_count"></span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      현금결제
                      <h4><span id="cash_sales"></span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="cash_count"></span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      취소금액
                      <h4>- <span id="cancel_sales"></span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="cancel_count"></span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      총 매출
                      <h4><span id="total_sales"></span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="total_count"></span> 건</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="{% static 'system/js/system_manage/script_admin_main.js' %}"></script>
{% endblock javascripts %}

