{% extends "layouts/system_base.html" %}
{% load static %}

{% block body %}

<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Access Denied</h1>
        <br>
        <br>
        <h2>{{user.profile.username}}, you don't currently have permission to access this page.</h2>
        <div class="row">
          <div class="col">
            <a class="btn" href="{% url 'system_manage:home' %}">Home</a>
          </div>
          <div class="col">
            <a class="btn" href="{% url 'system_manage:logout' %}">Logout</a>
          </div>
        </div>
        <p class="small m-3">관리자가 아니신가요?<a class="ms-1" href="{% url 'website:home' %}">돌아가기</a></p>

        <img src="{% static 'system/assets/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
        </div>
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}