{% extends "layouts/agency_base.html" %}
{% load static humanize i18n %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>User Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'agency_manage:home' agency.pk %}">Home</a></li>
            <li class="breadcrumb-item">User Manage</li>
            <li class="breadcrumb-item active">User</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Manage</h5>
            <a class="btn btn-primary" href="{% url 'agency_manage:user_create' agency.pk %}">{% trans "회원 등록" %}</a>
            <form id="search-form" class="p-2" method="get" action="">
              <div class="row mb-2">
                <label for="item" class="col-sm-2 col-form-label">{% trans "검색 분류" %}</label>
                <div class="col-sm-8">
                    <div class="input-group">                   
                      <select class="form-select" id="search_type" name="search_type">
                        {% if search_type == 'username' %}
                        <option value="username" selected>{% trans "아이디" %}</option>
                        {% else %}
                        <option value="username">{% trans "아이디" %}</option>
                        {% endif %}
                      </select>
                    <input class="form-control" type="text" id="search_keyword" name="search_keyword" placeholder="Search Keword" value="{{search_keyword}}" style="width:50%">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="text-center">
                    <button type="submit" id="btn-search" class="btn btn-primary">{% trans "검색" %}</button>
                    <a id="btn-initial" class="btn btn-outline-primary" href="{% url 'agency_manage:user_manage' agency.pk %}">{% trans "초기화" %}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">{% trans "유저 목록" %}</h5>
              </div>
              <div class="col-auto">
                <div class="icon mt-3 me-3">
                  {% if page_obj %}
                    <!-- <a id="btn-excel" href="javascript:;" onclick="xlsxDownload();"><i class="bi bi-file-earmark-spreadsheet-fill"></i> Excel 저장</a> -->
                  {% endif %}
                </div>
              </div>
            </div>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>{% trans "활성여부" %}</th>
                  <th>{% trans "아이디" %}</th>
                  <th>{% trans "연락처" %}</th>
                  <th>{% trans "에이전시 관리자" %}</th>
                  <th>{% trans "가입일" %}</th>
                </tr>
              </thead>
              <tbody>
              {% if page_obj %}
                {% for i in page_obj %}
                <tr>
                  <td>
                    {% if i.is_active %}
                      <input type="checkbox" onchange="changeActive({{i.id}},this)" data-toggle="toggle" data-on="활성" data-off="비활성" data-width="90" checked>
                    {% else %}
                      <input type="checkbox" onchange="changeActive({{i.id}},this)" data-toggle="toggle" data-on="활성" data-off="비활성" data-width="90">
                    {% endif %}
                  </td>
                  <td><a href="{% url 'agency_manage:user_detail' agency.pk i.id %}">{{i.username}}</a></td>
                  <td>{{i.profile__phone}}</td>
                  <td>
                    <input class="form-check-input" type="checkbox" {% if i.is_admin %}checked{% endif %} onclick="setAdmin({{i.id}}, this)">
                  </td>
                  <td>{{i.date_joined|date:"Y.m.d"}}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan='5'>{% trans "유저가 없습니다." %}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>


{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const i18n = {
    login_required: "{% trans '로그인 해주세요.' %}",
    no_permission: "{% trans '권한이 없습니다!' %}",
    save_excel: "{% trans '엑셀저장하시겠습니까?' %}",
    confirm_edit: "{% trans '변경하시겠습니까?' %}",
    confirm_admin: "{% trans '관리자 지정을 수정하시겠습니까?' %}",
  };
</script>
<script src="{% static 'agency/js/user_manage/script_user_manage.js' %}?v=202508"></script>
<script src="{% static 'js/script_pagination.js' %}"></script>
{% endblock javascripts %}