{% extends "layouts/system_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Agency Edit</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">Agency Manage</li>
            <li class="breadcrumb-item active">Agency Edit</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">Agency Edit</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:agency_manage' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a id="btn-delete" href="#"><i class="bi bi-trash-fill"></i> 삭제</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mb-3">
                      <div class="col-md-12">
                        <label for="agency_name">에이전시(행사,협회)명</label>
                        <input type="text" name="agency_name" class="form-control" id="agency_name" placeholder="에이전시(행사,협회)명" value="{{data.name}}">
                      </div>
                      <div class="col-md-12">
                        <label for="description">에이전시 설명</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="에이전시 설명" value="{{data.description}}">
                      </div>
                      <div class="col-md-12">
                        <label for="image">에이전시 이미지 <small class="form-text text-muted">( 이미지 변경 시 에만 첨부 )</small></label>
                        <input type="file" id="image" name="image" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="col-md-12">
                      <label for="qr_link">QR 사이트 링크</label>
                      <input type="text" name="qr_link" class="form-control" id="qr_link" placeholder="QR Link" value="{{data.qr_link|default_if_none:''}}">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <a href="{% url 'system_manage:agency_detail' data.pk %}" class="btn btn-danger">취소</a>
                    <button type="button" id="btn-submit" class="btn btn-success">Save</button>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="{% static 'system/js/agency_manage/script_agency_edit.js' %}?v=20241008"></script>
{% endblock javascripts %}
