{% extends "layouts/shop_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>POS Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">POS Manage</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">POS Manage</h5>
            <a class="btn btn-primary" href="{% url 'shop_manage:pos_create' shop.id %}">등록</a>
            <a class="btn btn-outline-primary" href="{% url 'shop_manage:shop_pos_detail' shop.id %}">포스 관리</a>
            <form id="search-form" class="p-2" method="get" action="">
              <div class="row mb-2">
                <label for="item" class="col-sm-2 col-form-label">검색 분류</label>
                <div class="col-sm-8">
                    <div class="input-group">                   
                      <select class="form-select" id="search_type" name="search_type">
                        <option value="name" {% if search_type == 'name' %}selected{% endif %}>이름</option>
                      </select>
                    <input class="form-control" type="text" id="search_keyword" name="search_keyword" placeholder="Search Keword" value="{{search_keyword}}" style="width:50%">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="text-center">
                    <button type="submit" id="btn-search" class="btn btn-primary">검색</button>
                    <a id="btn-initial" class="btn btn-outline-primary" href="{% url 'shop_manage:pos_manage' shop.id %}">초기화</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">목록</h5>
              </div>
            </div>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>이름</th>
                  <th>TID</th>
                  <th></th>
                </tr>
                
              </thead>
              <tbody>
              {% if page_obj %}
                {% for i in page_obj %}
                <tr>
                  <td>
                    <div class="input-group">
                        <input type="text" id="table_{{i.id}}" class="form-control" placeholder="이름" value="{{i.name}}">
                        <button class="btn btn-outline-secondary" type="button" onclick="editName({{i.id}}, this)">수정</button>
                    </div>
                   </td>
                   <td>
                    {% if i.table_no != 0 %}
                    <div class="input-group">
                        <input type="text" id="table_tid_{{i.id}}" class="form-control" placeholder="TID" value="{{i.tid}}">
                        <button class="btn btn-outline-secondary" type="button" onclick="editTid({{i.id}}, this)">수정</button>
                    </div>
                    {% else %}
                    <span>{{i.tid}}</span>
                    {% endif %}
                   </td>
                  <td class="text-end">
                    {% if i.table_no != 0 %}
                        <button class="btn btn-danger" onclick="deleteTable({{i.id}})">삭제</button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan='3'>내용이 없습니다.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/script_pagination.js' %}"></script>
<script src="{% static 'shop/js/pos_manage/script_pos_manage.js' %}?v=20240801"></script>
{% endblock javascripts %}