{% extends "layouts/shop_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>POS Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">POS Manage</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">POS Manage</h5>
            <button class="btn btn-primary" id="pos_create">등록</button>
            <a class="btn btn-outline-primary" href="{% url 'shop_manage:shop_pos_detail' shop.id %}">포스 관리</a>
            <div class="row mb-2">
              <label for="item" class="col-sm-2 col-form-label">포스 분류</label>
              <div class="col-sm-8">
                <select class="form-select" id="pos_id" name="pos_id">
                  {% for i in pos %}
                  <option value="{{i.id}}" {% if i.id == pos_id %}selected{% endif %}>{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-2">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="pos" {% if pos_id == shop.pos.id %}checked{% endif %}>
                  <label class="form-check-label" for="pos">이용</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">목록</h5>
              </div>
            </div>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>이름</th>
                  <th>TID</th>
                  <th></th>
                </tr>
                
              </thead>
              <tbody>
              {% if page_obj %}
                {% for i in page_obj %}
                <tr>
                  <td>
                    <div class="input-group">
                        <input type="text" id="table_{{i.id}}" class="form-control" placeholder="이름" value="{{i.name}}">
                        <button class="btn btn-outline-secondary" type="button" onclick="editName({{i.id}}, this)">수정</button>
                    </div>
                   </td>
                   <td>
                    <div class="input-group">
                        <input type="text" id="table_tid_{{i.id}}" class="form-control" placeholder="TID" value="{{i.tid}}">
                        <button class="btn btn-outline-secondary" type="button" onclick="editTid({{i.id}}, this)">수정</button>
                    </div>
                   </td>
                  <td class="text-end">
                    <button class="btn btn-danger" onclick="deleteTable({{i.id}})">삭제</button>
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan='3'>내용이 없습니다.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const create_url = "{% url 'shop_manage:pos_create' shop.id %}"
</script>
<script src="{% static 'js/script_pagination.js' %}"></script>
<script src="{% static 'shop/js/pos_manage/script_pos_manage.js' %}?v=20250325"></script>
{% endblock javascripts %}