{% extends "layouts/shop_base.html" %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>POS 등록</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">POS Create</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">POS 등록</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'shop_manage:pos_manage' shop.id %}?pos_id={{pos.pk}}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mt-3 mb-3">
                  <label for="pos_name" class="col-sm-2 col-form-label">포스업체</label>
                  <div class="col-sm-10">
                      <input type="text" id="pos_name" name="pos_name" class="form-control" disabled value="{{pos.name}}">
                  </div>
              </div>
                <div class="row mt-3 mb-3">
                    <label for="table_name" class="col-sm-2 col-form-label">이름 *</label>
                    <div class="col-sm-10">
                        <input type="text" id="table_name" name="table_name" class="form-control" placeholder="이름">
                    </div>
                </div>
                <input type="hidden" id="pos_id" name="pos_id" value="{{pos.pk}}">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-12 text-center">
                        <button type="button" id="btn-submit" class="btn btn-primary">등록</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'shop/js/pos_manage/script_pos_create.js' %}?v=1"></script>
{% endblock javascripts %}

