{% extends "layouts/system_base.html" %}
{% load static %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Shop Registration</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
                <li class="breadcrumb-item">Shop Manage</li>
                <li class="breadcrumb-item active">Shop Registration</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col">
                    <h5 class="card-title">Shop Registration</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:shop_manage' %}"><i class="bi bi-list"></i> 목록</a></div>
                </div>
            </div>
            <form id="data-form" method="post" onsubmit="return false">
                <div class="row mb-3">
                    <div class="col-md-12">
                      <label for="agency_id">메인 에이전시</label>
                      <select class="form-select" id="agency_id" name="agency_id">
                        <option value="" selected disabled>에이전시를 선택해주세요.</option>
                        {% for i in agency %}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                      <div class="col-md-12">
                        <label for="shop_category_id">가맹점 카테고리</label>
                        <select class="form-select" id="shop_category_id" name="shop_category_id">
                          <option value="" selected disabled>가맹점 카테고리를 선택해주세요.</option>
                          {% for i in shop_category %}
                            <option value="{{i.id}}">{{i.name}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="col-md-12">
                        <label for="shop_name">가맹점명</label>
                        <input type="text" name="shop_name" class="form-control" id="shop_name" placeholder="가맹점명">
                      </div>
                      <div class="col-md-12">
                        <label for="description">가맹점 설명</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="가맹점 설명">
                      </div>
                      <div class="col-md-12">
                        <label for="representative">대표자명</label>
                        <input type="text" name="representative" class="form-control" id="representative" placeholder="대표자명">
                      </div>
                      <div class="col-md-12">
                        <label for="phone">연락처</label>
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="연락처">
                        <small class="form-text text-muted">예시) 0200001234 or 01000005678</small>
                      </div>
                      <div class="col-md-12">
                        <label for="registration_no">사업자번호</label>
                        <input type="text" name="registration_no" class="form-control" id="registration_no" placeholder="사업자번호">
                      </div>
                      <div class="col-md-10">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" name="address" id="address" readonly placeholder="주소">
                        <input type="hidden" class="form-control" name="zipcode" id="zipcode">
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-outline-secondary mt-4" id="btn-address">우편번호</button>
                      </div>
                      <div class="col-md-12">
                        <input type="text" class="form-control" name="address_detail" id="address_detail" placeholder="상세주소">
                      </div>
                      <div class="col-md-12">
                        <label for="image">가맹점 이미지 <small class="form-text text-muted">필수 x</small></label>
                        <input type="file" id="image" name="image" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="col-md-12">
                      <label for="logo_image1">로고 이미지1 <small class="form-text text-muted">필수 x</small></label>
                      <input type="file" id="logo_image1" name="logo_image1" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="col-md-12">
                      <label for="entry_image1">입장 이미지1 <small class="form-text text-muted">필수 x</small></label>
                      <input type="file" id="entry_image1" name="entry_image1" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="col-md-12">
                      <label for="logo_image2">로고 이미지2 <small class="form-text text-muted">필수 x</small></label>
                      <input type="file" id="logo_image2" name="logo_image2" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="col-md-12">
                      <label for="entry_image2">입장 이미지2 <small class="form-text text-muted">필수 x</small></label>
                      <input type="file" id="entry_image2" name="entry_image2" class="form-control" accept="image/png, image/jpg, image/jpeg">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="button" id="btn-submit" class="btn btn-success">등록</button>
                </div>
            </form>
          </div>
        </div>
      </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'system/js/shop_manage/script_shop_create.js' %}?v=20240711"></script>
{% endblock javascripts %}
