{% extends "layouts/system_base.html" %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Shop Admin Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'system_manage:home' %}">Home</a></li>
            <li class="breadcrumb-item">Shop Manage</li>
            <li class="breadcrumb-item active">Shop Admin Manage</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-auto">
                  <h5 class="card-title">{{shop.name}} 관리자 관리</h5>
                </div>
                <div class="col-auto">
                    <div class="icon mt-3"><a href="{% url 'system_manage:shop_manage' %}"><i class="bi bi-list"></i> 가맹점 목록</a></div>
                </div>
            </div>
            <form id="search-form" class="p-2" method="get" action="">
              <div class="row mb-2">
                <label for="item" class="col-sm-2 col-form-label">검색 분류</label>
                <div class="col-sm-8">
                    <div class="input-group">                   
                      <select class="form-select" id="search_type" name="search_type">
                        {% if search_type == 'username' %}
                        <option value="username" selected>아이디</option>
                        {% else %}
                        <option value="username">아이디</option>
                        {% endif %}
                      </select>
                    <input class="form-control" type="text" id="search_keyword" name="search_keyword" placeholder="Search Keword" value="{{search_keyword}}" style="width:50%">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="text-center">
                    <button type="submit" id="btn-search" class="btn btn-primary">검색</button>
                    <a id="btn-initial" class="btn btn-outline-primary" href="{% url 'system_manage:shop_admin_manage' shop.id %}">초기화</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">유저 목록</h5>
              </div>
            </div>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>아이디</th>
                  <th>연락처</th>
                  <th>가입일</th>
                  <th>가맹점 관리자</th>
                </tr>
              </thead>
              <tbody>
              {% if page_obj %}
                {% for i in page_obj %}
                <tr>
                  <td>{{i.username}}</td>
                  <td>{{i.profile__phone}}</td>
                  <td>{{i.date_joined|date:"Y.m.d"}}</td>
                  <td>
                    <input class="form-check-input" type="checkbox" {% if i.is_admin %}checked{% endif %} onclick="setAdmin({{i.id}}, this)">
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan='4'>유저가 없습니다.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
            {% include 'admin_pagination.html' %}
            </div>
        </div>
      </section>
</main>


{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'system/js/shop_manage/script_shop_admin_manage.js' %}"></script>
<script src="{% static 'js/script_pagination.js' %}"></script>
{% endblock javascripts %}