{% extends "layouts/shop_base.html" %}
{% load static %}

{% block stylesheets %}
<style>
    .list-group{
        height: 450px;
        max-height: 450px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }
</style>
{% endblock stylesheets %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Category Manage</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop_manage:home' shop.id %}">Home</a></li>
            <li class="breadcrumb-item active">Category</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->
  
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Category 관리</h5>
            <p>대분류, 소분류 Category를 등록하고 선택하여 수정 및 삭제할 수 있습니다.</p>
            <strong class="text-danger">상품이 등록되어 있는 카테고리는 삭제 불가능합니다.</strong>
          </div>
        </div>
        <div class="card" >
            <div class="card-body">
                <div class="row justify-content-between">
                  <div class="row">
                    <div class="col-6 p-3 px-5">
                        <div class="d-flex">
                            <div class="me-auto">
                                <h5 class="card-title">대분류</h5>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-danger btn-sm" id="deleteLCategory" style="display: none;" data-main-id="" onclick="deleteCategory(this)"><i class="bi bi-trash-fill"></i></button>
                            </div>  
                            <div class="mt-3 ms-2">
                                <button class="btn btn-warning btn-sm" id="editLCategory" style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal" data-category-type="main" data-modal-type="edit" data-main-id="" data-category-name-kr=""  data-category-name-en=""><i class="bi bi-pencil-square"></i></button>
                            </div>
                            <div class="mt-3 ms-2">
                                <button class="btn btn-success btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal" data-category-type="main" data-modal-type="create"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                        <ul id="list-main-category" class="list-group">
                            {% if MainCategory %}
                            {% for i in MainCategory %}
                            <a href="javascript:;" class="main-category list-group-item list-group-item-action" onclick="selectLCategory(this, '{{i.id}}', '{{i.name_kr}}', '{{i.name_en}}')">
                                {{ i.name_kr }}
                            </a>
                            {% endfor %}
                            {% else %}
                            데이터 등록해주세요.
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-6 p-3 px-5">
                        <div class="d-flex">
                            <div class="me-auto">
                                <h5 class="card-title">소분류</h5>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-danger btn-sm" id="deleteSCategory" style="display: none;" data-sub-id="" onclick="deleteCategory(this)"><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class="mt-3 ms-2">
                                <button class="btn btn-warning btn-sm" id="editSCategory" style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal" data-category-type="sub" data-modal-type="edit" data-sub-id="" data-category-name-kr="" data-category-name-en=""><i class="bi bi-pencil-square"></i></button>
                            </div>
                            <div class="mt-3 ms-2">
                                <button class="btn btn-success btn-sm" id="createSCategory" style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal" data-category-type="sub" data-modal-type="create" data-parent-id=""><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                        <ul id="list-sub-category" class="list-group">
                            대분류를 선택해주세요.
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </section>

      <div class="modal fade" id="categoryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="categoryModalLabel">Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="data-form" onsubmit="return false">
                <input type="hidden" class="form-control" id="categoryType" name="categoryType"/>
                <input type="hidden" class="form-control" id="categoryId" name="categoryId"/>
                <input type="hidden" class="form-control" id="parentCategoryId" name="parentCategoryId"/>
                <div class="mb-3">
                  <label for="categoryNameKr" class="col-form-label">Category Name (한글):</label>
                  <input type="text" class="form-control" id="categoryNameKr" name="categoryNameKr" placeholder="카테고리 한글 이름을 넣어주세요.">
                </div>
                <div class="mb-3">
                  <label for="categoryNameEn" class="col-form-label">Category Name (영문):</label>
                  <input type="text" class="form-control" id="categoryNameEn" name="categoryNameEn" placeholder="카테고리 영문 이름을 넣어주세요.">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
              <button type="button" class="btn btn-primary" id="btn-edit" style="display: none;">Edit</button>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const shop_id = {{shop.id}};
</script>
<script src="{% static 'shop/js/category_manage/script_category_manage.js' %}?v=20250429"></script>
{% endblock javascripts %}