{% extends "layouts/shop_base.html" %}
{% load static %}
{% load humanize %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block main %}
<main id="main" class="main">
  <section class="section">
    <div id="alert_div">
    </div>
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">최근 주문내역 (10개)</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>주문번호</th>
                  <th>주문명</th>
                  <th>결제금액</th>
                  <th>주문자</th>
                  <th>연락처</th>
                  <th>날짜</th>
                  <th>처리여부</th>
                </tr>
              </thead>
              <tbody id="order_tbody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">일 매출</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <div class="row mt-3">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      카드결제
                      <h4><span id="card_sales">{{daily.card_sales|intcomma}}</span><small class="text-muted fw-light"> ₩</small></h4>
                    </h1>
                    <p class="card-text">총 <span id="card_count">{{daily.card_count|intcomma}}</span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      현금결제
                      <h4><span id="cash_sales">{{daily.cash_sales|intcomma}}</span><small class="text-muted fw-light"> ₩</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="cash_count">{{daily.cash_count|intcomma}}</span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      취소금액
                      <h4>- <span id="cancel_sales">{{daily.cancel_sales|intcomma}}</span><small class="text-muted fw-light"> ₩</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="cancel_count">{{daily.cancel_count|intcomma}}</span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      총 매출
                      <h4><span id="total_sales">{{daily.total_sales|intcomma}}</span><small class="text-muted fw-light"> ₩</small></h4>
                    </h1>
                      <p class="card-text">총 <span id="total_count">{{daily.total_count|intcomma}}</span> 건</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="orderGoodsModal" tabindex="-1" aria-labelledby="orderGoodsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="orderGoodsModalLabel">주문 상품</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="orderGoodsModalBody">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
{% block javascripts %}
<script>
  const shop_id = {{shop.pk}};
  const order_audio = new Audio('/static/shop/assets/audio/order_alert.mp3')
  const cancel_audio = new Audio('/static/shop/assets/audio/cancel_alert.mp3')
  window.addEventListener("DOMContentLoaded", () => {
    navigator.mediaDevices.getUserMedia({ audio: true });
  });
</script>
<script src="{% static 'shop/js/shop_manage/script_shop_manage_main.js' %}?v=20240726"></script>
{% endblock javascripts %}

