{% extends "layouts/shop_base.html" %}
{% load static humanize i18n %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block main %}
<main id="main" class="main">
  <section class="section">
    <div id="alert_div">
    </div>
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-body" bis_skin_checked="1">
            <h5 class="card-title">{% trans '최근 주문내역' %}</h5>
            <table class='table table-hover'>
              <thead>
                <tr>
                  <th>{% trans '주문번호' %}</th>
                  <th>{% trans '주문' %}</th>
                  <th>{% trans '결제금액' %}</th>
                  <th>{% trans '주문자' %}</th>
                  <th>{% trans '연락처' %}</th>
                  <th>{% trans '날짜' %}</th>
                  <th>{% trans '처리여부' %}</th>
                </tr>
              </thead>
              <tbody id="order_tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="card-title">Reports <span>/</span><span id="report_title_en">Today</span></h5>
              </div>
              <div class="col-auto">
                <div class="filter mt-3">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <span><i class="bi bi-filter-left"></i>Filter</span>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;" onclick="report('TODAY')">{% trans '일별' %}</a></li>
                    <li><a class="dropdown-item" href="javascript:;" onclick="report('WEEK')">{% trans '주간별' %}</a></li>
                    <li><a class="dropdown-item" href="javascript:;" onclick="report('MONTH')">{% trans '월별' %}</a></li>
                    <!-- <li><a class="dropdown-item" href="#">This Year</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div id="salesChart" style="min-height: 365px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-body" bis_skin_checked="1">
            <h5 class="card-title">{% trans '일 매출' %}</h5>
            <div class="row mt-3">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      {% trans '카드결제' %}
                      <h4><span id="card_sales">{{daily.card_sales|intcomma}}</span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                    <p class="card-text">총 <span id="card_count">{{daily.card_count|intcomma}}</span> 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      {% trans '현금결제' %}
                      <h4><span id="cash_sales">{{daily.cash_sales|intcomma}}</span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">{% trans '총' %} <span id="cash_count">{{daily.cash_count|intcomma}}</span> {% trans '건' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      {% trans '취소금액' %}
                      <h4>- <span id="cancel_sales">{{daily.cancel_sales|intcomma}}</span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">{% trans '총' %} <span id="cancel_count">{{daily.cancel_count|intcomma}}</span> {% trans '건' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      {% trans '총 매출' %}
                      <h4><span id="total_sales">{{daily.total_sales|intcomma}}</span><small class="text-muted fw-light"> {{ CURRENCY_SYMBOL }}</small></h4>
                    </h1>
                      <p class="card-text">{% trans '총' %} <span id="total_count">{{daily.total_count|intcomma}}</span> {% trans '건' %}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="orderGoodsModal" tabindex="-1" aria-labelledby="orderGoodsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="orderGoodsModalLabel">{% trans '주문 상품' %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="orderGoodsModalBody">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
{% block javascripts %}
<script>
  const shop_id = {{shop.pk}};
  const order_audio = new Audio('/static/shop/assets/audio/order_alert.mp3')
  const cancel_audio = new Audio('/static/shop/assets/audio/cancel_alert.mp3')
  window.addEventListener("DOMContentLoaded", () => {
    navigator.mediaDevices.getUserMedia({ audio: true });
  });
</script>
<script>
    const i18n = {
    login_required: "{% trans '로그인 해주세요.' %}",
    no_permission: "{% trans '권한이 없습니다!' %}",
    paid: "{% trans '결제완료' %}",
    preparing: "{% trans '준비중' %}",
    completed: "{% trans '주문완료' %}",
    received: "{% trans '수령완료' %}",
    cancelled: "{% trans '주문취소' %}",
    request_sms: "{% trans '수령문자요청' %}",
    empty: "{% trans '주문내역이 없습니다.' %}",
    confirm_update: "{% trans '상태를 수정하시겠습니까?' %}",
    confirm_send_sms: "{% trans '완료 문자를 보내시겠습니까?' %}",
    order_no: "{% trans '주문번호' %}",
    order_date: "{% trans '주문일시' %}",
    product_name: "{% trans '제품명' %}",
    option: "{% trans '옵션' %}",
    quantity: "{% trans '수량' %}",
    total_price: "{% trans '총 금액' %}",
    currency: "{{ CURRENCY_SYMBOL }}",
    offline: "{% trans '현장' %}",
    online: "{% trans '온라인' %}",
    net: "{% trans '순매출' %}"
  };
</script>
<script src="{% static 'shop/js/shop_manage/script_shop_manage_main.js' %}?v=202508"></script>
<script src="{% static 'shop/js/shop_manage/script_shop_manage_chart.js' %}?v=202508"></script>
{% endblock javascripts %}

