{% extends "layouts/shop_base.html" %}
{% load static %}
{% load humanize %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block main %}
<main id="main" class="main">
  <section class="section">
    <div id="alert_div">
    </div>
    <div class="row">
      <div class="col" bis_skin_checked="1">
        <div class="card mb-4 rounded-3 shadow-sm" bis_skin_checked="1">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">일 매출</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <div class="row mt-3">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      카드결제
                      <br>
                      {{daily.card_count|intcomma}}<small class="text-muted fw-light"> ₩</small>
                    </h1>
                    <p class="card-text">총 {{daily.card_count|intcomma}} 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      현금결제
                      <br>
                      {{daily.cash_sales|intcomma}}<small class="text-muted fw-light"> ₩</small></h1>
                      <p class="card-text">총 {{daily.cash_count|intcomma}} 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      취소금액
                      <br>
                      - {{daily.cancel_sales|intcomma}}<small class="text-muted fw-light"> ₩</small></h1>
                      <p class="card-text">총 {{daily.cancel_count|intcomma}} 건</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                      총 매출
                      <br>
                      {{daily.total_sales|intcomma}}<small class="text-muted fw-light"> ₩</small></h1>
                      <p class="card-text">총 {{daily.total_count|intcomma}} 건</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block javascripts %}
<script>
  const shop_id = {{shop.pk}};  
</script>
<script src="{% static 'shop/js/shop_manage/script_shop_manage_main.js' %}"></script>
{% endblock javascripts %}

