<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/basket.css?v=1" />
        <title>Coleslaw</title>
    </head>
    <body>
        <div class="__app">
            <header class="header line">
                <div class="header_inner">
                    <button class="btn_back">
                        <img
                            src="/static/agency/images/icons/icon_left_arrow.svg"
                            alt="뒤로가기"
                        />
                    </button>
                    <h1>장바구니</h1>
                    <button class="btn_home">
                        <img src="/static/agency/images/icons/icon_home.svg" alt="홈으로" />
                    </button>
                </div>
            </header>
            <main class="main">
                <section>
                    <div class="basket">
                        <div class="title">
                            <img src="/static/agency/images/icons/icon_home.png" alt="" />
                            <h4>스타벅스</h4>
                        </div>
                        <ul class="menu">
                            <li>
                                <div>
                                    <div class="thumbnail">
                                        <div
                                            class="menu_thumbnail"
                                            style="
                                                background-image: url(.//static/agency/images/dummy/dummy_menu.png);
                                            "
                                        ></div>
                                    </div>
                                    <div class="menu_info">
                                        <div class="menu_detail_info">
                                            <h6>
                                                모카
                                                프라푸치sadasdasdasdasdasdasdasdsadasdasd노
                                            </h6>
                                            <p>Size Tall</p>
                                            <b>5,500원</b>
                                            <span>5,000원</span>
                                        </div>
                                        <div class="menu__">
                                            <button class="btn_minus">
                                                <img
                                                    src="/static/agency/images/icons/icon_minus.png"
                                                    alt="수량 빼기"
                                                />
                                            </button>
                                            <input type="number" value="1" />
                                            <button class="btn_plus">
                                                <img
                                                    src="/static/agency/images/icons/icon_plus.png"
                                                    alt="수량 더하기"
                                                />
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn_trash">
                                    <img
                                        src="/static/agency/images/icons/icon_trash.png"
                                        alt="삭제"
                                    />
                                </button>
                            </li>
                            <li>
                                <div>
                                    <div class="thumbnail">
                                        <div
                                            class="menu_thumbnail"
                                            style="
                                                background-image: url(.//static/agency/images/dummy/dummy_menu2.png);
                                            "
                                        ></div>
                                    </div>
                                    <div class="menu_info">
                                        <div class="menu_detail_info">
                                            <h6>모카 프라푸치노</h6>
                                            <p>Size Tall</p>
                                            <b>5,500원</b>
                                            <span>5,000원</span>
                                        </div>
                                        <div class="menu__">
                                            <button class="btn_minus">
                                                <img
                                                    src="/static/agency/images/icons/icon_minus.png"
                                                    alt="수량 빼기"
                                                />
                                            </button>
                                            <input type="number" value="1" />
                                            <button class="btn_plus">
                                                <img
                                                    src="/static/agency/images/icons/icon_plus.png"
                                                    alt="수량 더하기"
                                                />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn_trash">
                                    <img
                                        src="/static/agency/images/icons/icon_trash.png"
                                        alt="삭제"
                                    />
                                </button>
                            </li>
                        </ul>
                        <div class="price">
                            <strong>결제금액</strong>
                            <span>11,000원</span>
                        </div>
                    </div>
                    <div class="order">
                        <button class="btn_order">
                            <span>11,000원</span> • 주문하기
                        </button>
                    </div>
                </section>
            </main>
        </div>

        <script src="/static/agency/js/common.js"></script>
        <script src="/static/agency/js/basket.js"></script>
    </body>
</html>
