<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/complete.css" />
        <title>Coleslaw</title>
    </head>
    <body>
        {% csrf_token %}
        <div class="__app">
            <header class="header">
                <div class="header_inner">
                    <h1>결제완료</h1>
                </div>
            </header>
            <main class="main">
                <section>
                    <div class="complete">
                        <div>
                            <img src="/static/agency/images/icons/icon_check.png" alt="" />
                            <strong>32</strong>
                            <h6>주문완료되었습니다</h6>
                            <p>입력하신 핸드폰 번호로 알림이 갑니다 :)</p>
                        </div>
                    </div>
                    <div class="home">
                        <button class="btn_home">홈으로</button>
                    </div>
                </section>
            </main>
        </div>

        <script src="/static/agency/js/common.js"></script>
    </body>
</html>
