<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/franchisee.css?v=12" />
        <title>Coleslaw</title>
    </head>
    <body>
        {% csrf_token %}
        <div class="__app">
            <header class="header">
                <div class="header_inner">
                    <button class="btn_back">
                        <img
                            src="/static/agency/images/icons/icon_left_arrow.svg"
                            alt="뒤로가기"
                        />
                    </button>
                    <h1>2024 원더러스트 페스티벌</h1>
                    <button class="btn_basket counts">
                        <span class="count">1</span>
                        <img
                            src="/static/agency/images/icons/icon_basket.svg"
                            alt="장바구니"
                        />
                    </button>
                </div>
            </header>
            <main class="main">
                <section class="franchisee">
                    <ul class="franchisee_">
                        <li>
                            <div
                                class="thumbnail"
                                style="
                                    background-image: url(/static/agency/images/dummy/dummy_brand.png);
                                "
                            ></div>
                            <div class="franchisee_info">
                                <h6>스타벅asdasdasdasdaasdasdasdsadasdsdasd</h6>
                                <span>커피•디저트</span>
                            </div>
                        </li>
                        <li>
                            <div
                                class="thumbnail"
                                style="
                                    background-image: url(/static/agency/images/dummy/dummy_brand.png);
                                "
                            ></div>
                            <div class="franchisee_info">
                                <h6>스타벅스</h6>
                                <span>커피•디저트</span>
                            </div>
                        </li>
                        <li>
                            <div
                                class="thumbnail"
                                style="
                                    background-image: url(/static/agency/images/dummy/dummy_brand.png);
                                "
                            ></div>
                            <div class="franchisee_info">
                                <h6>스타벅스</h6>
                                <span>커피•디저트</span>
                            </div>
                        </li>
                        <li>
                            <div
                                class="thumbnail"
                                style="
                                    background-image: url(/static/agency/images/dummy/dummy_brand.png);
                                "
                            ></div>
                            <div class="franchisee_info">
                                <h6>스타벅스</h6>
                                <span>커피•디저트</span>
                            </div>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
        
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const agency_id = "{{agency.pk}}";
        </script>
        <script src="/static/agency/js/common.js"></script>
        <script src="/static/agency/js/franchisee.js"></script>
    </body>
</html>
