<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/main.css" />
        <title>Coleslaw</title>
    </head>
    <body>
        <div class="__app">
            <header class="header">
                <div class="header_inner">
                    <a href="./" class="logo">
                        <img src="/static/agency/images/icons/icon_logo.png" alt="Coleslaw" />
                    </a>
                </div>
            </header>
            <main class="main">
                <section>
                    <div class="main_">
                        <div class="banner">
                            <h6>
                                페스티벌 입장하고 <br />
                                멋진 굿즈와 맛있는 푸드 고르기!
                            </h6>
                            <img src="/static/agency/images/icons/icon_festival.png" alt="" />
                        </div>
                        <div class="box" style='background:url(/static/agency/images/store/banner/1.png);background-size:cover;background-position:center top;'></div>
                    </div>
                    <div class="btns">
                        <div class="text">
                            <span>편하고 빠르게 주문해보세요!</span>
                        </div>
                        <button class="btn_orderfrom">주문하기</button>
                        <button class="btn_other">
                            다른업체 메뉴 확인하기
                        </button>
                    </div>
                </section>
            </main>
        </div>

        <script>
            const agency_id = "{{agency.pk}}";
            const btnOrderFrom = document.querySelector(".btn_orderfrom");

            btnOrderFrom.addEventListener("click", () => {
                location.href = "{% url 'agency:agency_shop_list' agency.id %}";
            });
        </script>
    </body>
</html>
