<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/information.css" />
        <title>Coleslaw</title>
    </head>
    <body>
        <div class="__app">
            <header class="header line">
                <div class="header_inner">
                    <button class="btn_back">
                        <img
                            src="/static/agency/images/icons/icon_left_arrow.svg"
                            alt="뒤로가기"
                        />
                    </button>
                    <h1>정보입력</h1>
                </div>
            </header>
            <main class="main">
                <section>
                    <div class="form">
                        <div class="payment_info">
                            <h6>결제금액</h6>
                            <span>0원</span>
                        </div>
                        <div class="form_">
                            <div class="input_box">
                                <label for="user_name">이름</label>
                                <input
                                    type="text"
                                    placeholder="이름"
                                    id="user_name"
                                />
                            </div>
                            <div class="input_box">
                                <label for="user_phone">휴대폰 번호</label>
                                <input
                                    type="text"
                                    placeholder="휴대폰 번호"
                                    id="user_phone"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="payment">
                        <button class="btn_payment" onclick='onPayment()'>
                            <span>0원</span> • 결제하기
                        </button>
                    </div>
                </section>
            </main>
        </div>

        <script src="/static/agency/js/common.js"></script>
        <script src="/static/agency/js/information.js"></script>
    </body>
</html>
