<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/agency/css/swiper.bundle.min.css" />
        <link rel="stylesheet" href="/static/agency/css/reset.css" />
        <link rel="stylesheet" href="/static/agency/css/common.css" />
        <link rel="stylesheet" href="/static/agency/css/menus.css" />
        <title>Coleslaw</title>
    </head>
    <body>
        {% csrf_token %}
        <div class="__app">
            <header class="header">
                <div class="header_inner">
                    <button class="btn_back">
                        <img
                            src="/static/agency/images/icons/icon_left_arrow.svg"
                            alt="뒤로가기"
                        />
                    </button>
                    <h1>스타벅스</h1>
                    <button class="btn_basket counts">
                        <span class="count">1</span>
                        <img
                            src="/static/agency/images/icons/icon_basket.svg"
                            alt="장바구니"
                        />
                    </button>
                </div>
            </header>
            <main class="main">
                <section>
                    <div class="tabs_">
                        <div class="tabs">
                            <div class="swiper tabSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="tab_button on">식품</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="tab_button">음료</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_tabs">
                            <div class="swiper subTabSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="subtab_button on">전체</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="subtab_button">
                                            치킨ㅁㄴㅇㅁㄴㅇㅁㄴㄴㅁㅇㅁㄴㅇㅁㄴㅇ
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="subtab_button">음료</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="subtab_button">디저트</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menus">
                        <ul class="menu_">
                            <li class="menu">
                                <div class="thumbnail">
                                    <div
                                        class="menu_thumbnail"
                                        style="
                                            background-image: url(/static/agency/images/dummy/dummy_menu.png);
                                        "
                                    ></div>
                                    <button class="btn_add">
                                        <img
                                            src="/static/agency/images/icons/icon_plus.png"
                                            alt="장바구니 담기"
                                        />
                                    </button>
                                </div>
                                <div class="menu_info">
                                    <h6>
                                        모카
                                        프라푸치ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㄴㅁㅇㅁㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㄴㅇㅇㅁㄴㅇ노
                                    </h6>
                                    <p>Size Tall</p>
                                    <b>5,500원</b>
                                    <span>5,000원</span>
                                </div>
                            </li>
                            <li class="menu">
                                <div class="thumbnail">
                                    <div
                                        class="menu_thumbnail"
                                        style="
                                            background-image: url(/static/agency/images/dummy/dummy_menu2.png);
                                        "
                                    ></div>
                                    <button class="btn_add">
                                        <img
                                            src="/static/agency/images/icons/icon_plus.png"
                                            alt="장바구니 담기"
                                        />
                                    </button>
                                </div>
                                <div class="menu_info">
                                    <h6>모카 프라푸치노</h6>
                                    <p>Size Tall</p>
                                    <b>5,500원</b>
                                    <span>5,000원</span>
                                </div>
                            </li>
                            <li class="menu">
                                <div class="thumbnail">
                                    <div
                                        class="menu_thumbnail"
                                        style="
                                            background-image: url(/static/agency/images/dummy/dummy_menu.png);
                                        "
                                    ></div>
                                    <button class="btn_add">
                                        <img
                                            src="/static/agency/images/icons/icon_plus.png"
                                            alt="장바구니 담기"
                                        />
                                    </button>
                                </div>
                                <div class="menu_info">
                                    <h6>모카 프라푸치노</h6>
                                    <p>Size Tall</p>
                                    <b>5,500원</b>
                                    <span>5,000원</span>
                                </div>
                            </li>
                            <li class="menu">
                                <div class="thumbnail">
                                    <div
                                        class="menu_thumbnail"
                                        style="
                                            background-image: url(/static/agency/images/dummy/dummy_menu2.png);
                                        "
                                    ></div>
                                    <button class="btn_add">
                                        <img
                                            src="/static/agency/images/icons/icon_plus.png"
                                            alt="장바구니 담기"
                                        />
                                    </button>
                                </div>
                                <div class="menu_info">
                                    <h6>모카 프라푸치노</h6>
                                    <p>Size Tall</p>
                                    <b>5,500원</b>
                                    <span>5,000원</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
        </div>

        <div class="add_popup">
            <div class="content">
                <button class="btn_minus">
                    <img src="/static/agency/images/icons/icon_minus.png" alt="수량 빼기" />
                </button>
                <input
                    type="number"
                    value="1"
                    minlength="1"
                    class="menu_value"
                />
                <button class="btn_plus">
                    <img src="/static/agency/images/icons/icon_plus.png" alt="수량 더하기" />
                </button>
            </div>
            <button class="btn_add_basket">장바구니 담기</button>
        </div>

        <div class="toast">
            <span>장바구니에 담았습니다.</span>
        </div>
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const shop_id = {{agency_shop.shop.pk}};
        </script>

        <script src="/static/agency/js/swiper.bundle.min.js"></script>
        <script src="/static/agency/js/common.js"></script>
        <script src="/static/agency/js/menus.js"></script>
    </body>
</html>
